# Discord
CLIENT_ID=
TOKEN=
# Camelot: 706183309943767112 | 
# Elder: 695286837568340119 | 
# Poke: 691399125517992086 | 

# Patreon
PATREON_TOKEN=
PATREON_CAMPAIGN_ID=

# Rank.top
RANK_AUTH=
RANK_API_KEY=

# Top.gg
TOPGG_AUTH=
TOPGG_TOKEN=

# Gemini
GEMINI_API_KEY=

# Runware
RUNWARE_SOURCE=
RUNWARE_API_KEY=

# Postgres
PG_USER=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=5432

# Config
ADMINS=489490486734880774
VERSION=2.6.2
PREFIX=/