TOKEN=
CAMELOT=
ELDER=

PREFIX=

PATREON_TOKEN=
PATREON_CAMPAIGN_ID=

RANK_AUTH=

TOPGG_AUTH=
TOPGG_TOKEN=

DONATEBOT_KEY=

PG_USER=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=5432

ADMINS=489490486734880774
VERSION=2.6.1